body {
    position: relative;     
    background: url("/static/img/bg_main.jpg") no-repeat ;
    background-size: cover;
    background-color: grey;
    margin: 0;
}
.container {
    margin: auto;
    width: 900px;
    color: white;
}
.main-screen-title {
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
    width: 500px;
    padding-top: 80px;
    color: white;
}
.main-screen-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    display: block;
    padding: 30px;
    width: 36%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    margin: auto;
}
.main-screen-btn:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
}
.main-screen-btn-show-notes {
    margin-top: 40px;
}
.note-form input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid #000000;
}
.field {
    width: 100%;
    margin-bottom: 20px;
}
.note-form textarea {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid #000000;
    display: block;
}
.note-form-input-promo {
    width: 95%;
    margin-top: 20px;
}
.adding-screen-btn-send {
    margin-top: 40px;
    padding: 30px;
    width: 500px;
    padding: 0;
}
.adding-screen-title {
    margin-top: 80px;
    margin-bottom: 80px;
}
.adding-screen-btn-to-home {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    padding-left: 15px;
    border: 2px solid #000000;
    margin-top: 20px;
    width: 500px;
    padding: 10px 0px;
}
.check-list-title {
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;    
    width: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
}
.check-list {
    padding-left: 100px;
}
.check-list-item {
    margin-bottom: 40px;
}
.check-list-item-img {
    width:400px;
}
.check-list-item-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
}
.check-list-item-text h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}
.notes-screen-btn-to-home {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    padding-left: 15px;
    border: 2px solid #000000;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 500px;
    padding: 10px 0px;
}